<!-- Header -->
<header id="header" class="header">
    <div class="header-inner">

        <!-- Logo -->
        <!--div class="logo">
            <a href="/">
                <img class="logo-light" src="assets/img/logo-light.png" alt="Apollo" />
                <img class="logo-dark" src="assets/img/logo-dark.png" alt="Apollo" />
            </a>
        </div-->
        <!-- End Logo -->

        <!-- Mobile Navbar Icon -->
        <div class="nav-mobile nav-bar-icon">
            <span></span>
        </div>
        <!-- End Mobile Navbar Icon -->

        <!-- Navbar Navigation -->
        <div class="nav-menu singlepage-nav">
            <ul class="nav-menu-inner">
                <li>
                    <a class="current" href="#intro">{{ 'Home' | translate }}</a>
                </li>
                <!--li>
                    <a class="external menu-has-sub">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-dropdown dropdown">
                        <li>
                            <a class="menu-has-sub">Homepage <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-dropdown">
                                <li><a class="external" href="index.html">Main</a></li>
                                <li><a class="external" href="home-agency1.html">Agency 1</a></li>
                                <li><a class="external" href="home-agency2.html">Agency 2</a></li>
                                <li><a class="external" href="home-agency3.html">Agency 3</a></li>
                                <li><a class="external" href="home-personal.html">Personal</a></li>
                                <li><a class="external" href="home-comming_soon1.html">comming soon 1</a></li>
                                <li><a class="external" routerLink="/test" routerLinkActive="active">comming soon 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="menu-has-sub">Intro Variation <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-dropdown">
                                <li><a class="external" href="index.html">Main</a></li>
                                <li><a class="external" href="index-static_dark.html">Static Dark</a></li>
                                <li><a class="external" href="index-static_light.html">Static Light</a></li>
                                <li><a class="external" href="index-video_bg.html">Video Bg</a></li>
                                <li><a class="external" href="index-youtube_bg.html">Youtube Bg</a></li>
                                <li><a class="external" href="index-canvas-pattern.html">Canvas Pattern</a></li>
                                <li><a class="external" href="index-text_slider.html">Text Slider</a></li>
                                <li><a class="external" href="index-revolution_slider1.html">Revolution Slider1</a></li>
                                <li><a class="external" href="index-revolution_slider2.html">Revolution Slider2</a></li>
                                <li><a class="external" href="index-bg_slideshow.html">Bg Slideshow</a></li>
                                <li><a class="external" href="index-text_rotator1.html">Text Rotator1</a></li>
                                <li><a class="external" href="index-text_rotator2.html">Text Rotator2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="menu-has-sub">Header Variation <i class="fa fa-angle-right"></i></a>
                            <ul class="sub-dropdown">
                                <li><a class="external" href="index.html">Default</a></li>
                                <li><a class="external" href="header-dark.html">Header Dark</a></li>
                                <li><a class="external" href="header-light.html">Header light</a></li>
                                <li><a class="external" href="header-dark_light.html">Header Dark Light</a></li>
                                <li><a class="external" href="header-overlay_menu.html">Header Overlay</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="menu-has-sub">Extra Page<i class="fa fa-angle-right"></i></a>
                            <ul class="sub-dropdown">
                                <li><a class="external" href="page-about1.html">About Us</a></li>
                                <li><a class="external" href="page-about2.html">About Us 2</a></li>
                                <li><a class="external" href="page-service1.html">Service</a></li>
                                <li><a class="external" href="page-service2.html">Service 2</a></li>
                                <li><a class="external" href="page-contact1.html">Contact Us</a></li>
                                <li><a class="external" href="page-contact2.html">Contact Us 2</a></li>
                                <li><a class="external" href="page-portfolio_grid.html">Portfolio Grid</a></li>
                                <li><a class="external" href="page-portfolio_masonry.html">Portfolio Masonry</a></li>
                                <li><a class="external" href="page-portfolio_single1.html">Portfolio Single 1</a></li>
                                <li><a class="external" href="page-portfolio_single2.html">Portfolio Single 2</a></li>
                                <li><a class="external" href="page-blog.html">Blog</a></li>
                                <li><a class="external" href="page-blog_single.html">Blog Single</a></li>
                                <li><a class="external" href="page-faq.html">Faq</a></li>
                                <li><a class="external" href="page-error404.html">Error 404</a></li>
                                <li><a class="external" href="page-all_slider.html">Slider</a></li>
                            </ul>
                        </li>
                        <li><a class="external" href="#">Buy Template</a></li>
                    </ul>
                </li-->
                <li>
                    <a href="#about">{{ 'About' | translate}}</a>
                </li>
                <!--li>
                    <a href="#skills">{{ 'Skills' | translate }}</a>
                </li-->
                <li>
                    <a href="#history" class="mr-2">{{ 'Experience' | translate }}</a>
                </li>
                <li>
                    <a href="#project_analysis">{{ 'Projects' | translate }}</a>
                </li>
                <!--li>
                    <a href="#portfolio">{{ 'Portfolio' | translate }}</a>
                </li-->
                <li>
                    <a href="#product_management">{{ 'Product Management' | translate }}</a>
                </li>
                <!--li>
                    <a href="#blog">Blog</a>
                </li-->
                <li>
                    <a href="#contact-us" class="text-warning"><b>{{ 'Contact' | translate }}</b></a>
                </li>
                <li>
                    <div class="flags" (click)="set_lang('en')" *ngIf="using_lang!=='en'">
                        <img src="assets/img/flags/english.png">
                    </div>
                </li>
                <li>
                    <div class="flags" (click)="set_lang('zh')" *ngIf="using_lang!=='zh'">
                        <img src="assets/img/flags/taiwan.png">
                    </div>
                </li>

                <!--li>
                    <a class="external" href="demo.html" target="_blank">Demos</a>
                </li-->
            </ul>
        </div>
        <!-- End Navbar Navigation -->

    </div>
</header>
<!-- End Header -->
