<!-- Footer Section -->
<footer id="footer" class="footer gray-bg">
    <div class="container text-center">
        <ul class="social mb-60 wow fadeInUp" data-wow-duration="1.5s">
            <li>
                <a target="_blank" href="https://www.facebook.com/hsuan.chang.96"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.pinterest.com/hsuanchang96/"><i class="fa fa-pinterest-p"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/hsuan-ivy-chang-a9288071/"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://medium.com/@hsuanchang_77331"><i class="fa fa-medium"></i></a>
            </li>
        </ul>
        <!--p class="copyright"-->
        <span class="flag-icon flag-icon-gr"></span>
        <p class="copyright wow fadeInUp" data-wow-duration="1.5s">
            <a class="copy-link scroll-top" href="">&copy; Hsuan 2020</a><br />
            <!--All Rights Reserved, Template by <a target="_blank" href="http://nileforest.com/"><b>nileforest</b></a-->
        </p>
    </div>
</footer>
<!-- End Footer Section -->
