<!-- Intro -->
<section id="intro" class="intro">
    <!-- 404 Error Intro -->
    <div class="bg-image overlay-light parallax parallax-background2" data-background-img="assets/img/full/16.jpg">
        <div class="js-fullscreen-height container" style="min-height:400px;">
            <div class="intro-content">
                <div class="intro-content-inner">
                    <h1 class="error-intro-title">404</h1>
                    <h5 class="alt-title intro-sub-title mb-30">Page Not Found</h5>
                    <p class="mb-30">Sorry, the page you are looking for cannot be found.<br>Try checking the URL or return back home.</p>
                    <a routerLink="/" class="btn btn-black-outline btn-lg"><i class="fa fa-angle-left"></i>Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End 404 Error Intro -->
</section>
<!-- End Intro -->
